.input-box {
  /* border: 1px solid #ccc; */
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box__form {
  width: 500px;
}

.input-box__field {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: large;
  outline: none;
  padding: 0.7em;
  margin-bottom: 10px;
}

.input-box__action-btn {
  border: none;
  outline: none;
  background: #ccc;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  float: right;
}

.input-box__action-btn:hover {
  background-color: black;
}

.input-box__error {
  color: #ff0033;
  font-size: small;
}
