* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0.6em;
  background-color: #f5f5f5;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background-color: #514e4e;
  border-radius: 10px;
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}
