<meta charset="UTF-8" />
<title>Wealth Portfolio</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
<style>
  * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    padding: 50px;
  }
</style>
