<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <h1 class="display-4">Registration</h1>
      <form id="reg-form" class="m-3">
        <input type="text" autocomplete="off" id="name" placeholder="Name" required />
        <input type="text" autocomplete="off" id="username" placeholder="Username" required />
        <input type="password" autocomplete="off" id="password" placeholder="Password" required />
        <input type="submit" value="Register" />
      </form>

      <script>
        const form = document.getElementById('reg-form');
        form.addEventListener('submit', registerUser);

        async function registerUser(event) {
          event.preventDefault();
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;

          const result = await fetch('/api/auth/register', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              username,
              password,
            }),
          }).then((res) => res.json());

          if (result.status === 'ok') {
            // everythign went fine
            alert('Registered successfully!');
          } else {
            alert(result.error);
          }
        }
      </script>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
