.result-box {
  border: 1px solid #ccc;
  width: 600px;
  padding: 30px;
  border-radius: 20px;
  background-color: aqua;
  max-height: 200px;
  overflow: auto;
}

.item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .link {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-button {
  border: none;
  outline: none;
  background: #ccc;
  color: #fff;
  padding: 0.8em;
  cursor: pointer;
  border-radius: 10px;
  transition: width 5s;
}

.copy-button:hover {
  background-color: black;
}
